body {margin: 0px;padding: 0px;font-family:Arial,Helvetica,sans-serif;}
/*改版后的css*/
.down_BG{background-image: url(../images/down_BG.gif);height:60px;width:100%;color:#fff;font-size:12px;text-align:center;padding-top:5px;}